/* test méthode smacss avec base, layout, module et state pour le JS */

/* html, body */

/* base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 60%;
    margin: 50px auto;
}


/* Layout */

.main .container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    height: 2.5em;
}

.notification {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 2px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    margin: 5px;
    padding: 10px;
}


.notification .photo {
    grid-row: span 2;
    /* Set to span 2 rows */
}


.notification :nth-child(3) {
    grid-row: span 1;
    grid-column: 2;
}

.notification .photoechec {
    grid-column: 3;
    grid-row: 1 / span 2;
    cursor: pointer;
}



/* modules */

.mark-as-read {
    color: rgb(109, 108, 108);
    cursor: pointer;
}

.mark-as-read:hover {
    color: hsl(218, 68%, 27%);
    transition: 0.4s;
}


.message-write {
    padding: 15px;
    border: 1px solid rgb(226, 226, 226);
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(131, 128, 128);
    border-radius: 5px;
}

.message-write:hover {
    cursor: pointer;
    background-color: rgba(219, 245, 255, 0.884);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid rgba(219, 245, 255, 0.884);
}

.notification-count {
    background-color: rgb(23, 41, 122);
    color: #FFF;
    padding: 1px 10px 1px 10px;
    border-radius: 7px;
    margin-left: 10px;
}

.message-text p {
    color: rgb(109, 108, 108);
}

.message-text p span {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.message-text .nom:hover {
    color: hsl(218, 69%, 34%);
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.message-text p .span2 {
    color: rgb(80, 80, 80);
    font-weight: bold;
    cursor: pointer;
}

.message-text p .chessclub {
    color: hsl(219, 85%, 26%);
    font-weight: bold;
}

.notification .heure {
    color: rgb(141, 140, 140);
}



@media (max-width: 670px) {


    .container {
        max-width: 90%;
        margin: 50px auto;
    }

    img {
        padding-right: 10px;
    }


}